.navbar-width {
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */

}

.navbar-link {
  text-decoration: none; 
  font-size: 20px;
  /* margin-right: 1100px;  */
  margin-bottom: 10px; 

}

.navbar-link.active {
  color: #fff; 
  text-decoration: none; 
}

.navbar-link:hover {
  color: #ccc; /* Change the color to your desired hover color */
}

.custom-nav-item {
  margin-right: 10px; /* Example margin */
  z-index: 1100; /* Ensure the nav item is above other content */
  /* Add any other custom styles you want */
}
